.header {
    height: 50px;
    display:flex;
    justify-content: space-between;
    width:100%;
    font-size: 1.2em;
    background-image: linear-gradient(to right, #2d313e, #3c4053);
    padding: 10px;
    color: white;
}
a {
    color: white;
    text-decoration: none;
}