.header {
    height: 50px;
    display:flex;
    justify-content: space-between;
    width:100%;
    font-size: 1.2em;
    padding: 10px;
    color: white;
}
a {
    color: white;
    text-decoration: none;
}