h3 {
    font-size: 1.1em;
    font-weight: 400;
}
p {
    font-weight: 200;
}
/* Container for playlist and musicplayer */
.container {
    width: 100%;
    background-image: linear-gradient(to right, #5a668b, #3c4053);
    box-sizing:border-box;
    display:flex;
}
.left-section {
    width: 50%;
    box-sizing: border-box;
}
.right-section {
    width: 50%;
    box-sizing: border-box;
    justify-content: center;
    color:white;
}
.song-item {
    display:flex;
    color:white;
    padding: 15px;
    border-right-style:solid;
    border-color: rgba(42.0, 42, 42, 0.69);
    text-shadow: 2px 2px #000000;
}
.song-item-content {
    display:flex;
    align-items: center;
    flex:1;
}
.song-item img {
    width: 50px;
    height: 50px;
    border-style: solid;
    border-width: 2px;
    cursor: pointer;
}
.song-item-text {
    display:inline-block;
    margin-left:20px;
    justify-content: flex-start;
    cursor: pointer;
}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24;
  margin-left: auto;
  cursor: pointer;
  justify-content: center;
  margin-right:50px;
}
.song-item.first {
    background-image: linear-gradient(to right, #28428f85, #3c4053);

}
/* Music player */
.music-player {
    text-align:center;
    padding:20px;
    text-shadow: 3px 3px #000000;
}
.music-player img {
    width: 300px;
    box-shadow: 10px 10px rgba(186, 112, 221, 0.671);
}
.music-player h3 {
    margin-top:40px;
    font-size: 1.3em;
}